@import "src/app/theme/variable.scss";


.imagePlaylist{
    height: 13rem;
    width: 13rem;
}
h4{
    color: $textGrey2 !important;
}


.card{
    border-radius: 1rem;
    margin-top: 0;
    // height: 3.5rem;
}


