<div class="card w-100 mb-0  p-0 ">
    <div class="row no-gutters w-100 justify-content-between p-1">
        <div class="row m-0 align-items-center">
            <div class="image ">
                <img src="https://i.scdn.co/image/7a5fdcf968630a28583dd0613bc4735b6ad6a6b6" class="card-img " alt="...">
            </div>
            <div class="row song m-0 justify-content-between">
                <div class="card-body p-0 ml-2">
                    <h5 class=" m-0">Song name</h5>
                    <h6 class="m-0">Sidhu moosewala </h6>
                    <p class=" m-0"><small class="text-muted m-0">04:24</small></p>
                </div>
            </div>
        </div>
        <div class="row mr-2 align-items-center">
            <a class="icon play border " (click)='this.playAudio()'>
                <i class="fa fa-play"></i>
            </a>
            <a class="icon like border " href="#">
                <i class="fa fa-heart"></i>
            </a>
        </div>
    </div>
</div>
<!-- <audio controls class="w-100 "><source class="bg-danger" src="./assets/Banned - Ranjit Bawa (DjPunjab.Com).mp3"></audio> -->