@import "src/app/theme/variable.scss";


.image{
    overflow: hidden;
    height: 9rem;
    width: 9rem;
    object-fit: cover;
}

a:hover  {
    text-decoration: none;
    .image{
    border-color: $primaryColor !important;
    border-width: 2px !important ;}
}

.card{
    max-width: 10rem;
    background-color: transparent;
}
