@import "src/app/theme/variable.scss";


.image{
    // width: 7.5rem;
    padding-left: .2rem;
    img{
    border-radius: .7rem;
    width: 3rem;
    height: 3rem;
}
}

small{
    font-size: .7rem;
}
h6{
    font-size: .7rem !important;
}

.icon{
    width: 2.5rem;
    height: 2.5rem;
    border-radius: .7rem;
    border-width: .1rem !important;
    border-color: $textGrey;
    display: flex;
    justify-content: center;
    align-items: center;

    i{
        color: $textGrey;
    }
}

.icon:hover{
    text-decoration: none;
    border-color: $primaryColor !important;
    i{
        color: $primaryColor;
    }
}

.like{
    margin-left: .8rem;
}