<div class="py-3 mt-2 m-0 row">
    <div class="h-100 justify-content-center search-bar col-9 pl-0" id='searchcollapse'>
        <form class="form-inline site-search dropdown  ">
            <div class="d-flex w-100">
                <div class="d-flex align-items-center search-div border w-100">

                    <!-- search icon -->

                    <span class="search-icon d-flex align-items-center">
                        <i class="fa fa-search"></i>
                    </span>

                    <!-- search input -->

                    <input autocapitalize="none" autocomplete="off" autocorrect="off" name="search_query" tabindex="0"
                        type="text" spellcheck="false" class="form-control  searchInput "
                        placeholder="Search for songs, artists, albums etc." aria-label="Search" id="menu" >

                   
                </div>
            </div>
        </form>
    </div>
    <div class="col-3 d-flex align-items-center justify-content-end">
        <i class="far fa-user guestIcon p-2 rounded-circle border mr-3"></i>
        <h4 class="">Guest</h4>
    </div>
    <div>
        
    </div>
</div>
