<div>
    <h3>Artists</h3>
    <div class="d-flex justify-content-center mt-2 p-0 catTab border">
        <div class="tab" role="tabpanel">
            <ul class="nav nav-tabs category-tabs " role="tablist">
                <li class="" data-target="#custom_carousel"
                    *ngFor='let tab of ["Punjabi","Hindi","English"];let j =index'>
                    <a class="" [ngClass]="[j==0 ? 'nav-link active' : 'nav-link ']" id='' data-toggle="tab" role="tab"
                        aria-selected="false" (click)="artists(tab)">{{tab}}</a>
                </li>

            </ul>
        </div>
    </div>
    <div class="mt-3 row ">
        <div *ngFor='let i of this.artistdata' class="col-2">
            <app-artist-card  [data]=i></app-artist-card>
        </div>
    </div>
</div>