<div class="music-player">
    <div class="music-player__now-playing">
      <div class="music-player__song-info">
        <div class="music-player__song-info-cover">
          <img class="music-player__song-info-cover-img" src="https://i.scdn.co/image/7a5fdcf968630a28583dd0613bc4735b6ad6a6b6" alt="">
        </div>
        <div class="music-player__song-info-about">
          <div class="music-player__song-info-name">
          <a class="music-player__song-info-link music-player__song-info-link--song-name" href="#">let me love you</a>
          </div>
          <div class="music-player__song-info-artist">
            <a class="music-player__song-info-link music-player__song-info-link--artist-name" href="#">sidhu moosewala</a>
          </div>
        </div>
      </div>
      <button class="music-player__add-to-library control-button"></button>
    </div> 
    <div class="music-player__controls">
      <div class="music-player__controls-buttons">
        <button class="music-player__controls-button music-player__controls-button--shuffle control-button">shuffel</button>
        <button (click)="playPreviousSong()" class="music-player__controls-button music-player__controls-button--previous control-button">prev</button>
        <button (click)="playSong()" class="music-player__controls-button music-player__controls-button--play control-button">play</button>
        <button (click)="playNextSong()" class="music-player__controls-button music-player__controls-button--next control-button">next</button>
        <button class="music-player__controls-button music-player__controls-button--repeat control-button">repeat</button>
      </div>
      <div class="music-player__playback-bar">
        <div class="music-player__playback-bar-curent-time">0:00</div>
        <div #progressBar (click)="handChangeCurrentSongTime($event)"  class="music-player__playback-bar-progress-bar">
          <div #progressBarStatus class="music-player__playback-bar-progress-bar-state"></div>
        </div>
        <div class="music-player__playback-bar-time-left">{{playingSong.duration}}</div>
      </div>
    </div>
    <div class="music-player__playback-settings">
      <button class="music-player__playback-settings-song-list-button control-button">volume</button>
      <button (click)="muteSong()" class="music-player__playback-settings-volume-button control-button"><i class="fa fa-volume-up"></i></button>
      <div #volumeBar (click)="handChangeVolume($event)" class="music-player__playback-settings-volume-progress-bar">
        <div #volumeStatus class="music-player__playback-settings-volume-progress-bar-state"></div>
      </div>
    </div>
  </div>
  
  <audio #audio class="music-player__audio-container" [src]="playingSong.src"></audio>